.section {
        padding-top: 60px;
        padding-bottom: 60px;

    &--gray {
        background-color: $secondary-white;
    }

    &--hidden {
        @media (max-width:1199px) {
            display: none;
        }
    }

    @media (min-width:$desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    text-align: center;

    @media (min-width:$desktop) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
    }
}

// Hero

.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    height: 400px;

    text-align: center;

    background-color: $secondary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient($overlay-color, $overlay-color), url(../images/bg-s.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient($overlay-color, $overlay-color), url(../images/bg-s@2x.jpg);
    }

    @media (min-width:481px) {
        background-image: linear-gradient($overlay-color, $overlay-color), url(../images/bg-m.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient($overlay-color, $overlay-color), url(../images/bg-m@2x.jpg);
        }
    }

    @media (min-width:769px) {
        background-image: linear-gradient($overlay-color, $overlay-color), url(../images/bg-l.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient($overlay-color, $overlay-color), url(../images/bg-l@2x.jpg);
        }
    }

    @media (min-width:$desktop) {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;


    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: $primary-white;
    text-transform: uppercase;

    @media (min-width:$mobile) {
        width: 360px;
    }

    @media (min-width:$desktop) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}

.hero__btn {
    @extend %btn;
    padding: 10px 24px;
    transition: box-shadow 250ms $timing-function;

    &:hover {
        box-shadow: 0px 4px 4px $eighth-shadow-color;
    }

    &:active {
        background-color: $active-button-color;
    }

    @media (min-width:$desktop) {
        padding: 10px 32px;
    }
}

// Features

@media (min-width:$desktop) {
    .section--no-padding-bottom {
        padding-bottom: 0;
    }
}

.features {
    @media (min-width:$tablet) {
        display: flex;

        @media (max-width:1199px) {
            flex-wrap: wrap;
        }
    }
}

.features__item {
    @media (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (min-width:$tablet) and (max-width:1199px) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }

    @media (min-width:$desktop) {
        width: calc((100% - 90px) / 4);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.features__thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    height: 120px;

    background-color: $secondary-white;
    border-radius: 4px;
}

.features__subtitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    color: $secondary-text-color;
    text-transform: uppercase;
}

.features__text {
    line-height: 1.71;
}

// Directions

.directions {
    display: flex;
}

.directions__item {
    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.directions__thumb {
    position: relative;
}

.directions__img {
    display: block;
}

.directions__label {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    padding: 27px 0 27px;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white;

    background-color: $label-bg-color;
}

// Team

.team {
    @media (min-width:$tablet) {
        display: flex;

        @media (max-width:1199px) {
            flex-wrap: wrap;
        }
    }
}

.team-member {
    padding-bottom: 24px;

    background-color: $primary-white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px $first-shadow-color,
    0px 1px 1px $second-shadow-color,
    0px 2px 1px $third-shadow-color;

    @media (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (min-width:$tablet) and (max-width:1199px) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n + 1) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }

    @media (min-width:$desktop) {
        padding-bottom: 30px;
        width: calc((100% - 90px) / 4);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.team-member__img {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    display: block;
}

.team-member__name {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    color: $secondary-text-color;
    text-align: center;
}

.team-member__pos {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-member__social {
    padding-right: 32px;
    padding-left: 32px;
}

// Clients

.clients {
    display: flex;

    @media (max-width:1199px) {
        flex-wrap: wrap;
    }
}

.clients__item {
    @media (max-width:767px) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n + 1) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }

    @media (min-width:$tablet) and (max-width:1199px) {
        width: calc((100% - 60px) / 3);

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 30px;
        }
    }

    @media (min-width:$desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.clients__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;

    color: $icon-color;

    border: 1px solid $icon-color;
    border-radius: 4px;

    transition: color 250ms $timing-function,
    border 250ms $timing-function;

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }

    @media (min-width:$desktop) {
        width: 170px;
    }
}

// Modal

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $modal-overlay-color;

    opacity: 1;
    transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;

    background-color: $primary-white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px $first-shadow-color, 0px 1px 1px $second-shadow-color, 0px 2px 1px $third-shadow-color;

    transition: transform 250ms $timing-function;

    @media (max-width:1199px){
        width: 100%;
        max-width: 450px;
        height: 609px;
    }

    @media (min-width:$desktop) {
        width: 528px;
        height: 581px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.btn-close {
    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $primary-white;
    border: 1px solid $fourth-shadow-color;
    border-radius: 50%;
    cursor: pointer;

    transition: fill 250ms $timing-function;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.modal__title {
    margin-bottom: 12px;
    display: block;

    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-text-color;

    @media (min-width:$desktop) {
        line-height: 1.15;
    }
}

.modal__label-text {
    position: relative;

    display: block;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $primary-text-color;

    &--margined {
        margin-bottom: 20px;
    }
}

.modal__input-text,
.modal__input-textarea {
    display: block;
    width: 100%;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;

    border: 1px solid $form-border-color;
    border-radius: 4px;

    transition: border-color 250ms $timing-function;

    &:focus {
        border-color: $accent-color;
        outline: 0;
    }
}

.modal__input-text {
    height: 40px;
    padding-left: 42px;
}

.modal__input-textarea {
    margin-bottom: 20px;
    padding-left: 16px;
    height: 120px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    resize: none;

    &::placeholder {
        color: $form-placeholder-color;
    }
}

.modal__icon {
    position: absolute;
    top: 29px;
    left: 12px;

    transition: fill 250ms $timing-function;

    .modal__label-text:focus-within>& {
        fill: $accent-color;
    }
}

.modal__label-checkbox {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding-left: 24px;

    line-height: 1.17;
    font-size: 12px;

    @media (min-width:$desktop) {
        padding-left: 36px;
        line-height: 1.71;
        font-size: 14px;
    }
}

.modal__cell,
.modal__icon-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-right: 7px;
    width: 16px;
    height: 15px;

        @media (min-width:$desktop) {
            left: 12px;
            transform: translate(0, -50%);
        }
}

.modal__cell {
    display: inline-block;

    border: 2px solid $secondary-text-color;
    border-radius: 2px;

    .modal__checkbox:checked~& {
        display: none;
    }
}

.modal__icon-checkbox {
    display: none;

    .modal__checkbox:checked+& {
        display: inline-block;
    }
}

.modal__form-link {
    color: $accent-color;
    white-space: pre;
}

.modal__button-wrapper {
    display: flex;
    justify-content: center;

    @media (min-width:$desktop) {
        display: block;
        padding-left: 124px;
    }
}

.modal__btn {
    @extend %btn;
    width: 200px;
    height: 50px;
    padding: 10px 52px;

    transition: background-color 250ms $timing-function,
        box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $active-button-color;
        box-shadow: 0px 4px 4px $eighth-shadow-color;
    }
}