body {
    font-size: 14px;
    font-family: $primary-font;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    background-color: $primary-white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style-type: none;
}

%link {
    text-decoration: none;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

%btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $primary-white;
    background-color: $accent-color;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}