$primary-text-color: #757575;
$secondary-text-color: #212121;
$header-logo-color: #000000;
$accent-color: #2196f3;
$active-button-color: #188ce8;
$primary-white: #ffffff;
$secondary-white: #f5f4fa;
$footer-address-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #2f303a;
$header-border-color: #ececec;
$portfolio-border-color: #eeeeee;
$first-shadow-color: rgba(0, 0, 0, 0.12);
$second-shadow-color: rgba(0, 0, 0, 0.14);
$third-shadow-color: rgba(0, 0, 0, 0.2);
$fourth-shadow-color: rgba(0, 0, 0, 0.1);
$fifth-shadow-color: rgba(0, 0, 0, 0.08);
$sixth-shadow-color: rgba(0, 0, 0, 0.06);
$seventh-shadow-color: rgba(0, 0, 0, 0.16);
$eighth-shadow-color: rgba(0, 0, 0, 0.15);
$overlay-color: rgba(47, 48, 50, 0.4);
$icon-color: #afb1b8;
$icon-bg-color: rgba(255, 255, 255, 0.1);
$label-bg-color: rgba(47, 48, 50, 0.8);
$card-overlay-color: rgba(33, 150, 243, 0.9);
$modal-overlay-color: rgba(0, 0, 0, 0.2);
$subscription-border-color: rgba(255, 255, 255, 0.3);
$form-border-color: rgba(33, 33, 33, 0.2);
$form-placeholder-color: rgba(117, 117, 117, 0.5);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$primary-font:"Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;